<form action="{{ action }}" method="{{ method }}" class="{{ classNames }}" enctype="{{ enctype }}" x-data="{ loading: false }" @submit-event="loading = true" :disabled="loading" :aria-busy="loading">
  {{ csrfField() }}

  {{{ await $slots.main() }}}
</form>